{% extends 'base.html' %} {% block content %}

<div class="title"><h1>Details</h1></div>

<div class="card mb-3" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="#" class="img-fluid rounded-start" alt="..." />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{station.name}}</h5>
        <p class="card-text">
          The gas prices for {{station.name}} on {{station.date}} were
          ${{station.regular}} for regular, ${{station.midgrade}} for mid-grade, and ${{station.premium}} for premium.
        </p>
        {% if station.cards_accepted == 'TRUE' %}
        <p class="card-text">
          <small class="text-muted"
            >{{station.name}} currently accepts card payment</small
          >
        </p>
        {% else %}
        <p class="card-text">
          <small class="text-muted"
            >{{station.name}} currently does not accept card payment</small
          >
        </p>

        {% endif %}
      </div>
      <div><a href="{% url 'stations_delete' station.id %}">delete</a></div>
      <div><a href=" {% url 'price_update' station.id %} ">update price</a></div>
    </div>
  </div>
</div>

<div>
  <iframe 
  width="600"
  height="450"
  style="border: 0"
  frameborder="0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCWJg-R_NWLPVYUznhnfcxjB0EYqZArqJk&q=Space+Needle,Seattle+WA">

  </iframe>
</div>

{% endblock %}
