{% extends 'base.html' %} {% block content %}

<div class=" title container px-4 px-lg-5 text-center text-black">
  <br>
  <h1>All Stations </h1>
  <span>
    <form action="{% url 'search_results' %}" method="get">
      <input class="fields" name="q" type="text" placeholder="Search...">
    </form>
  </span>
</div>
<br>
{% if stations %} {% for station in stations %}

<div class="album py-5 ">

  <div class="container ">
    <div class="row row-cols-1 row-cols-sm-3 row-cols-md-1 g-2 index-box">
      <div class="col">
        <div class="card shadow-sm">

          {% if station.photo_set.all|length > 0 %}
          {% with photo=station.photo_set.all|first %}
          <img height="350" class="responsive-img card-panel" src="{{photo.url}}">
          {% endwith %}
          {% endif %}
          <div class="card-body">
            <p class="card-text"></p>
            <h5>{{ station.name }}</h5>
            <h7>{{ station.street }}</h7>
            <br>
            <h9>{{ station.city }}</h9>
            <h9>{{ station.state }},</h9>
            <h9>{{ station.zipcode }}</h9>
            <br>
            <h9>$<b>{{station.regular}}</b>/Regular</h9>
            <br><br>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a
                  id="icons"
                  class="btn button"
                  href="{% url 'detail' station.id %}"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="content-section section1 text-center">
  <div class="container px-4 px-lg-5">
    <div class="content-section">
        <h1 class="mb-5"></h1>
        <br>
    </div>
    </div>
</div>
</section>

{% endfor %} {% endif %} {% endblock %}