{% extends 'base.html' %} 

{% block content %}

{% if object %}
<div id="formsignup">
  <div class="container text-center text-black">
<h1>Edit <span class="textcolor">{{object.name}}</span></h1>
<br>
  <form  action="" method="POST">
    {% csrf_token %}
    <p>
      <label for="id_regular"></label></th>
      <input class="fields"type="number" min="0" max="20" name="regular" value="" step="any" required="" id="id_regular" placeholder="Regular: $0-20">
    </p>
    <p>
      <label for="id_midgrade"></label></th>
      <input class="fields"type="number" min="0" max="20" name="midgrade" value="" step="any" required="" id="id_midgrade" placeholder="Mid-Grade: $0-20">
    </p>
    <p>
      <label for="id_premium"></label></th>
      <input class="fields"type="number" min="0" max="20" name="premium" value="" step="any" required="" id="id_premium" placeholder="Premium: $0-20">
    </p>
      <br>
    <input type="submit" value="Submit" class="btn btn-secondary">
  </form>
  </div>
  </div>
  <br>
  {% else %} 
  <div id="formsignup">
    <div class="container text-center text-black">
    <h1>Add Station</h1>
    </div>
    <br>
    <div class="container text-center text-black">
  <form id="" action="" method="POST">
    {% csrf_token %}
    <p>
    <label for="id_name"></label>
     <input  class="fields" type="text" name="name" maxlength="100" required="" id="id_name" placeholder="Station">
    </p>
    <p>
    <label for="id_company"></label>
      <input class="fields" type="text" name="company" maxlength="100" required="" id="id_company" placeholder="Company">
    </p>
    <p>
    <label for="id_date"></label> 
      <input class="fields" type="date" name="date" required="" id="id_date">
    </p>
    <p>
    <label for="id_regular"></label>
    <input class="fields" type="number" min="0" max="20" name="regular" step="any" required="" id="id_regular" placeholder="Regular: $0-20">
   </p>
   <p>
    <label for="id_midgrade"></label>
    <input class="fields" type="number" min="0" max="20" name="midgrade" step="any" required="" id="id_midgrade" placeholder="Mid-Grade: $0-20">
   </p>
   <p>
    <label for="id_premium"></label>
    <input class="fields" type="number" min="0" max="20" name="premium" step="any" required="" id="id_premium" placeholder="Premium: $0-20">
   </p>
   <p>
    <label for="id_cards_accepted"></label>
      <select class="fields" name="cards_accepted" id="id_cards_accepted">
  <option value="T" selected="">Card available</option>
  <option value="F">Card not available</option>
</select>
   </p>
    <label for="id_zipcode"></label>
      <input class ="fields" type="number" name="zipcode" required="" id="id_zipcode" placeholder="Zipcode">
    <br>
    <br>
    <input type="submit" value="Submit" class="btn btn-secondary">
  </form>
  </div>
</div>
<br>
  {% endif %}
<!-- content section -->
<section class="content-section bg-light section1" id="">
  <div class="container px-4 px-lg-5 text-center">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-10">
        <h1>Making a better World</h1>
        <br />
        <p class="lead mb-5">sfjfdf dsodksd dff f dfdokg nff</p>
      </div>
    </div>
  </div>
</section>
<br>
{% endblock content %}
