{% extends 'base.html' %}

{% block content %}

{% if object %}
<div id="formsignup">
  <div class="container text-center text-black">
<h1>Edit <span class="textcolor">{{object.name}}</span></h1>
<br>
  <form  action="" method="POST">
    {% csrf_token %}
    <p>
      <label for="id_regular"></label></th>
      <input class="fields"type="number" min="0" max="20" name="regular" value="" step="any" required="" id="id_regular" placeholder="Regular: $0-20">
    </p>
    <p>
      <label for="id_midgrade"></label></th>
      <input class="fields"type="number" min="0" max="20" name="midgrade" value="" step="any" required="" id="id_midgrade" placeholder="Mid-Grade: $0-20">
    </p>
    <p>
      <label for="id_premium"></label></th>
      <input class="fields"type="number" min="0" max="20" name="premium" value="" step="any" required="" id="id_premium" placeholder="Premium: $0-20">
    </p>
      <br>
    <input type="submit" value="Submit" class="btn btn-secondary">
  </form>
  </div>
  </div>
  <br>
  {% else %}
  <div id="formsignup">
    <div class="container text-center text-black">
    <h1>Add Station</h1>
    </div>
    <br>
    <div class="container text-center text-black">
  <form id="" action="" method="POST">
    {% csrf_token %}
    <p>
    <label for="id_name"></label>
     <input  class="fields" type="text" name="name" maxlength="100" required="" id="id_name" placeholder="Station">
    </p>
    <p>
    <label for="id_company"></label>
      <input class="fields" type="text" name="company" maxlength="100" required="" id="id_company" placeholder="Company">
    </p>
    <p>
    <label for="id_date"></label>
      <input class="fields" type="date" name="date" required="" id="id_date">
    </p>
    <p>
    <label for="id_regular"></label>
    <input class="fields" type="number" min="0" max="20" name="regular" step="any" required="" id="id_regular" placeholder="Regular: $0-20">
   </p>
   <p>
    <label for="id_midgrade"></label>
    <input class="fields" type="number" min="0" max="20" name="midgrade" step="any" required="" id="id_midgrade" placeholder="Mid-Grade: $0-20">
   </p>
   <p>
    <label for="id_premium"></label>
    <input class="fields" type="number" min="0" max="20" name="premium" step="any" required="" id="id_premium" placeholder="Premium: $0-20">
   </p>
   <p>
    <label for="id_cards_accepted"></label>
    <input class="fields" type="text"  name="street" step="any" required="" id="street" placeholder="Street Address">
   </p>
   <p>
    <label for="city"></label>
    <input class="fields" type="text"  name="city" step="any" required="" id="city" placeholder="City Name">
   </p>
   <p>
    <label for="id_state"></label>
    <select class="fields" name="state" id="state">
      <option value="AL">Alabama</option>
      <option value="AK">Alaska</option>
      <option value="AZ">Arizona</option>
      <option value="AR">Arkansas</option>
      <option value="CA">California</option>
      <option value="CO">Colorado</option>
      <option value="CT">Connecticut</option>
      <option value="DE">Delaware</option>
      <option value="DC">District Of Columbia</option>
      <option value="FL">Florida</option>
      <option value="GA">Georgia</option>
      <option value="HI">Hawaii</option>
      <option value="ID">Idaho</option>
      <option value="IL">Illinois</option>
      <option value="IN">Indiana</option>
      <option value="IA">Iowa</option>
      <option value="KS">Kansas</option>
      <option value="KY">Kentucky</option>
      <option value="LA">Louisiana</option>
      <option value="ME">Maine</option>
      <option value="MD">Maryland</option>
      <option value="MA">Massachusetts</option>
      <option value="MI">Michigan</option>
      <option value="MN">Minnesota</option>
      <option value="MS">Mississippi</option>
      <option value="MO">Missouri</option>
      <option value="MT">Montana</option>
      <option value="NE">Nebraska</option>
      <option value="NV">Nevada</option>
      <option value="NH">New Hampshire</option>
      <option value="NJ">New Jersey</option>
      <option value="NM">New Mexico</option>
      <option value="NY">New York</option>
      <option value="NC">North Carolina</option>
      <option value="ND">North Dakota</option>
      <option value="OH">Ohio</option>
      <option value="OK">Oklahoma</option>
      <option value="OR">Oregon</option>
      <option value="PA">Pennsylvania</option>
      <option value="RI">Rhode Island</option>
      <option value="SC">South Carolina</option>
      <option value="SD">South Dakota</option>
      <option value="TN">Tennessee</option>
      <option value="TX">Texas</option>
      <option value="UT">Utah</option>
      <option value="VT">Vermont</option>
      <option value="VA">Virginia</option>
      <option value="WA">Washington</option>
      <option value="WV">West Virginia</option>
      <option value="WI">Wisconsin</option>
      <option value="WY">Wyoming</option>
      <option value="AS">American Samoa</option>
      <option value="GU">Guam</option>
      <option value="MP">Northern Mariana Islands</option>
      <option value="PR">Puerto Rico</option>
      <option value="UM">United States Minor Outlying Islands</option>
      <option value="VI">Virgin Islands</option>
    </select>
   </p>
   <p>
    <label for="id_cards_accepted"></label>
      <select class="fields" name="cards_accepted" id="id_cards_accepted">
         <option value="T" selected="">Card available</option>
         <option value="F">Card not available</option>
      </select>
 </p>
    <label for="id_zipcode"></label>
      <input class ="fields" type="number" name="zipcode" required="" id="id_zipcode" placeholder="Zipcode">
    <br>
    <br>
    <input type="submit" value="Submit" class="btn btn-secondary">
  </form>
  </div>
</div>
<br>
  {% endif %}
<!-- content section -->
<section class="content-section bg-light section1" id="">
  <div class="container px-4 px-lg-5 text-center">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-10">
        <h1>Making a better World</h1>
        <br />
        <p class="lead mb-5">sfjfdf dsodksd dff f dfdokg nff</p>
      </div>
    </div>
  </div>
</section>
<br>
{% endblock content %}
