{% extends 'base.html' %} 

{% block content %}
<div class="title container text-center text-black">
  <h1>Add Station</h1>
</div>

<!-- form -->
<div class="content-section px-4 px-lg-5">
  {% if object %}
  <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
  {% else %} {% endif %}
  <form id="new-form" action="" method="POST">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <br>
    <input type="submit" value="Submit" class="btn btn-secondary" />
  </form>
</div>
<!-- content section -->
<section class="content-section bg-light section1" id="">
  <div class="container px-4 px-lg-5 text-center">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-10">
        <h1>Making a better World</h1>
        <br />
        <p class="lead mb-5">sfjfdf dsodksd dff f dfdokg nff</p>
      </div>
    </div>
  </div>
</section>
<br />s
{% endblock content %}
