
body,html {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4 , h5{
  font-family: 'Eczar', serif;
}

/* ###SEction1 for home page*/
.masthead {
    min-height: 30rem;
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("/static/img/video1-2.mp4");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .images {
    min-height: 30rem;
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://images.pexels.com/videos/10872797/desert-early-sunrise-road-sun-10872797.jpeg?auto=compress&cs=tinysrgb&w=1600");
  }

  .masthead h1, .masthead .h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
  @media (min-width: 992px) {
    .masthead {
      height: 100vh;
    }
    .masthead h1, .masthead .h1 {
      font-size: 5.5rem;
    }
  }


  #home-intro {
    color: rgba(255, 255, 255, 0.732);
  }
  #home-brand {
    font-family: 'Eczar', serif;
    color: rgba(247, 244, 244, 0.9);
  }
  #home-mission {
    color: rgba(238, 238, 238, 0.727);
  }

/* ####IconsSectionSection2 */
/* ###about page  */
.masthead2{
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("/static/img/team1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 @media (min-width: 992px) {
  .masthead2 {
    height: 80vh;
  }
}

.service-icon {
    background-color: #fff;
    color: #4f5050;
    height: 7rem;
    width: 7rem;
    display: block;
    line-height: 7.5rem;
    font-size: 2.25rem;

  }

#icons {
    display: inline-block;
    background: transparent;
    color: black;
    text-transform: uppercase;
    padding: 8px 20px;
    border-radius: 5px;
    box-shadow: transparent;
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
  }


.section1 {
    padding: 70px 20px;
  }
 /* ###fform */

#new-form {
    display: grid;
    grid-gap: 10px;
    padding: 85px;
    justify-content: center;
    justify-items: center;
  }

#new-form *{
    font-size: 15px;
    padding: 2px;
   
  }

#new-form input[type="submit"] {
    grid-column: span 2;
    width: 5rem;
  }

.button {
    display: inline-block;
    background: #151515;
    color: #fff;
    text-transform: uppercase;
    padding: 8px 20px;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
  }
.button:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1.2);
            transform: translate(0px, -10px) scale(1.2);
  }
  /* #####footersection */

footer.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

footer.footer .social-link {
    display: block;
    text-decoration: none;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 1.5rem;
    background-color: #797777c7;
    transition: 0.15s ease-in-out;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.464);
  }

footer.footer .social-link:hover {
    background-color: #4f5050;
    text-decoration: none;
  }


.service-icon2 {
    border-radius: 120px;
    height: 13rem;
    width: 13rem;
    display: block;
    line-height: 7.5rem;
    font-size: 2.25rem;
    transition: 0.15s ease-in-out;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.464);
  }


  /* #cards for /stations */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

.bd-placeholder-img-lg {
      font-size: 3.5rem;
    }


.title{
      margin-top: 10%;
    }
/* ###form for deletion */
#deleteform {
      text-align: center;
    }

/* Navigation transition (not the home page)*/
#color {
  color: #030303;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

  #color:hover{
  -webkit-transform: translate(0px, -2px) scale(1.0);
  transform: translate(0px, -2px) scale(1.0);
  }

  #fulltank-word {
    color: rgb(137,207,240);
  }
  .techs {
    display: flex;
    margin-top: 150px;
    font-family: 'Eczar', serif;
    font-size: 40px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.skills {
  display: flex;
  overflow-x: scroll;
  max-width: 900px;
  margin: auto;
  margin-bottom: 70px;
  margin-top: 20px;
  justify-content: space-between;
}

#formsignup {
  display: flex;
  margin-top: 10%;
  font-size: 14px;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding-left: 20;
}

.helptext{
  font-size:10px;
  color: #b8b8b8;
}

.fields{
  line-height: 1.25;
  font-size: 1rem;
  font-family: "HM Sans Regular","HMSansHebrew-Regular","Hiragino Kaku Gothic Pro","MS PGothic",sans-serif;
  font-weight: 400;
  text-transform: none;
  border: 1px solid;
  border-color: #d0d0d0;
  height: 48px;
  padding: 8px;
  width: 40%;
}

.errormessage {
  margin: 0;
  padding: 0;
  color:#7b0101;
  font-size: 10px;
}

.textcolor{
  color: #939393;
}

/* #colortext{
  font-size: 9.00rem;
  color: whitesmoke;
  opacity: 0.0;
  padding-bottom: 30rem;
  font-family: 'HM Sans Regular', serif;
} */

/* ###  Detail.html and index.html */
.project-info-box {
  margin: 30px 0;
  background-color: #fff;
  padding: 20px 30px;
  border: 1px solid #b8b8b8;
  border-radius: 10px;
  transition: 0.15s ease-in-out;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.464);
} 
  .project-info-box:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1.05);
            transform: translate(0px, -10px) scale(1.05);
  }

.project-info-box p {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d5dadb;
}

.project-info-box p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.rounded {
  border-radius: 5px !important;
}

.index-box{
  margin: 10px 0;
  background-color: #fff;
  padding: 40px 30px 40px 30px;
  border: 1px solid #b8b8b8;
  border-radius: 10px;
  transition: 0.15s ease-in-out;
  box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.464);
} 
  .index-box:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1.0);
            transform: translate(0px, -10px) scale(1.0);
  }