{% extends 'base.html' %}

{% block content %}


    <!-- section1 -->
  <section class="content-section text-center">
      <div class="masthead2 d-flex align-items-center">
         <div id="colortext" class="container px-4 px-lg-5 text-center text-grey">
          <!-- <h9>Our Team</h9> -->
         </div>
       </div>
  </section>

  <section class="content-section bg-light section1" id="">
    <br>
    <div class="container px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class=" col-lg-10">
              <div class="content-section">
                <h1 class="mb-4">Our Mission:</h1>
                </div>
                <p class="lead mb-5">
                  Fluctuating gas prices can have profound effects on daily lives and bank balances. We
                want to flatten those fluctuations as much as possible. With <b>fullTank</b>, you can track community-led updates to local gas station prices, 
                    getting you back on the road as quickly and cheaply as possible. </p>
            </div>
        </div>
    </div>
  </section>
  <br>
   <br><br>
  <!-- section2 -->
 <section class="content-section text-center bgc">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading">
            <h2 class="mb-5"></h2>
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0" id="icons">
                <span class="service-icon2 rounded-circle mx-auto mb-3"><img class="service-icon2" src="/static/img/Ollo.jpg" height="120"/></span>
                <br>
                <h3>Ollo Clark</h3>
                <p class="textcolor">Scrum Master/Github Manager</p>
                <a class="textcolor" href="https://www.linkedin.com/in/ollo-clark-78295b205/"><i class="fa-brands fa-linkedin fa-xl"></i></a>
                <a class="textcolor" href=""><i class="fa-brands fa-github fa-xl"></i></a>
                <a class="textcolor" href=""><i class="fa-brands fa-twitter fa-xl"></i></a>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0" id="icons">
                <span class="service-icon2 rounded-circle mx-auto mb-3"><img class="service-icon2" src="/static/img/Jennifer.png" height="120"/></span>
                <br>
                <h3>Jennifer Dinh</h3>
                <p class="textcolor">API/Database Manager</p>
                <a class="textcolor" href="https://www.linkedin.com/in/dinh-jennifer/"><i class="fa-brands fa-linkedin fa-xl"></i></a>
                <a class="textcolor" href=""><i class="fa-brands fa-github fa-xl"></i></a>
                <a class="textcolor" href=""><i class="fa-brands fa-twitter fa-xl"></i></a>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0" id="icons">
                <span class="service-icon2 rounded-circle mx-auto mb-3"><img class="service-icon2" src="/static/img/Ellroy.jpeg" height="120"/></span>
                <br>
                <h3>Elroy He</h3>
                <p class="textcolor">API/Database Manager</p>
                <a class="textcolor" href="https://www.linkedin.com/in/elroyhe/"><i class="fa-brands fa-linkedin fa-xl"></i></a>
                <a class="textcolor" href=""><i class="fa-brands fa-github fa-xl"></i></a>
                <a class="textcolor" href=""><i class="fa-brands fa-twitter fa-xl"></i></a>
            </div>
            <div class="col-lg-3 col-md-6" id="icons">
                <span class="service-icon2 rounded-circle mx-auto mb-3"><img class="service-icon2" src="/static/img/mario2.png" height="120"/></span>
                <br>
                <h3>Mario Hernandez</h3>
                <p class="textcolor">Design</p>
                <a class="textcolor" href=""><i class="fa-brands fa-linkedin fa-xl"></i></a>
                <a class="textcolor" href=""><i class="fa-brands fa-github fa-xl"></i></a>
                <a class="textcolor" href=""><i class="fa-brands fa-twitter fa-xl"></i></a>
            </div>
        </div>
    </div>
  </section>
  <br><br>

  <br><br>
   <!-- section3 -->
  <section class="content-section bg-light section1" id="">
    <div class="container px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class=" techs col-lg-10">
                <h1>The fullTank Team:</h1><br>
                <p class="lead mb-5"> Our international team of developers met through a General Assembly training course
                    in 2022. United by a desire to solve common problems via uncommon skills, we decided to build something
                    to make life that little bit easier...
                </p>
            </div>
        </div>
    </div>
  </section>

  <section>
      <span class="techs"> Technologies used in<span id="fulltank-word">fullTank</span></span>
      <br>
    <div class="skills">
          <img class="pics" src="/static/img/css3 (2).png" >
          <img class="pics" src="/static/img/html.png" >
          <img class="pics" src="/static/img/python (2).png" >
          <img class="pics" src="/static/img/django (1).png" >
          <img class="pics" src="/static/img/postgresql (1).png" >
          <img class="pics" src="/static/img/github.png" >
          <img class="pics" src="/static/img/heroku.png" >
          <img class="pics" src="/static/img/aws.png" >

    </div>
  </section>
  <br><br>
{% endblock %}



<!-- <a href="https://iconscout.com/icons/aws" target="_blank">Aws Logo Icon</a> by <a href="https://iconscout.com/contributors/maninderkaur" target="_blank">Maninder Kaur</a>-->
<!-- <a href="https://iconscout.com/icons/python" target="_blank">Python Icon</a> by <a href="https://iconscout.com/contributors/icon-mafia">Icon Mafia</a> on <a href="https://iconscout.com">IconScout</a>-->