{% extends 'base.html' %}

{% block content %}


    <!-- section1 -->
  <section class="content-section text-center">
      <div class="masthead2 d-flex align-items-center">
         <div class="container px-4 px-lg-5 text-center text-grey">
         </div>
       </div>
  </section>

  <section class="content-section bg-light section1" id="">
    <div class="container px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-10 techs ">
                    <h1 class="mn-1">MEET OUR TEAM</h1>
                    <h5 class="mb-5">We are all very different. We were born in different cities, at different times, we love different music, food, movies. But we have something that unites us all FullTank.</h5>
            </div>
        </div>
    </div>
  </section>
  <br><br>
  <!-- section2 -->
 <section class="content-section text-center bgc">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading">
            <h2 class="mb-5"></h2>
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0" id="icons">
                <span class="service-icon2 rounded-circle mx-auto mb-3"><img class="service-icon2" src="/static/img/Ollo.jpg" height="120"/></span>
                <br>
                <p>Ollo Clark</p> <a href="">LinkedIn</a>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0" id="icons">
                <span class="service-icon2 rounded-circle mx-auto mb-3"><img class="service-icon2" src="/static/img/Jennifer.png" height="120"/></span>
                <br>
                <p>Jennifer Dinh</p> <a href="">LinkedIn</a>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0" id="icons">
                <span class="service-icon2 rounded-circle mx-auto mb-3"><img class="service-icon2" src="/static/img/Ellroy.png" height="120"/></span>
                <br>
                <p>Elroy He</p> <a href="">LinkedIn</a>
            </div>
            <div class="col-lg-3 col-md-6" id="icons">
                <span class="service-icon2 rounded-circle mx-auto mb-3"><img class="service-icon2" src="/static/img/Mario.png" height="120"/></span>
                <br>
                <p>Mario Hernández</p> <a href="">LinkedIn</a>
            </div>
        </div>
    </div>
  </section>
<!--    <section class="name-cards">
      <div class="name-card1" >
          <div class="name-card-intro">Ollo</div>
      </div>
      <div class="name-card2" >
        <div class="name-card-intro">Jennifer</div>
      </div>
      <div class="name-card3" >
        <div class="name-card-intro">Erloy</div>
      </div>
      <div class="name-card4" >
        <div class="name-card-intro">Mario</div>
      </div>
  </section>  -->


  <br><br>
   <!-- section3 -->
  <section class="content-section bg-light section1" id="">
    <div class="container px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class=" techs col-lg-10">
                <h1>FullTank</h1><br>
                <p class="lead mb-5"></p>
            </div>
        </div>
    </div>
  </section>

  <section>
      <span class="techs"> Technologies Used In<span id="fulltank-word">FullTank</span></span>
    <div class="skills">
          <img class="pics" src="/static/img/css3 (2).png" >
          <img class="pics" src="/static/img/html.png" >
          <img class="pics" src="/static/img/python (2).png" >
          <img class="pics" src="/static/img/django (1).png" >
          <img class="pics" src="/static/img/postgresql (1).png" >
          <img class="pics" src="/static/img/github.png" >
          <img class="pics" src="/static/img/heroku.png" >
          <img class="pics" src="/static/img/aws.png" >

    </div>
  </section>
  <br>
{% endblock %}



<!-- <a href="https://iconscout.com/icons/aws" target="_blank">Aws Logo Icon</a> by <a href="https://iconscout.com/contributors/maninderkaur" target="_blank">Maninder Kaur</a>-->
<!-- <a href="https://iconscout.com/icons/python" target="_blank">Python Icon</a> by <a href="https://iconscout.com/contributors/icon-mafia">Icon Mafia</a> on <a href="https://iconscout.com">IconScout</a>-->