{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <script
      src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
      crossorigin="anonymous"
    ></script>

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <!-- header for navigation for all pages but not about page -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/logoW.svg' %}" alt="fullTank" height="25" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}" rel="nofollow" href="">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                  </li>
                 <li class="nav-item active">
                        <a class="nav-link" id="colorh" aria-current="page" href="{% url 'index' %}">All Stations</a>
                      </li>
                      {% if user.is_authenticated %}

                      <li>
                        <a class="nav-link" href="{% url 'stations_create' %}">Add Station</a>
                      </l>
                     
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                      </li>

                      {% else %}
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                      </li>

                      {% endif %}


                </ul>
            </div>
        </div>
    </nav>
    </header>
 <!-- firstsection -->
<section class="content-section text-center">
  <div>
    <div class="masthead d-flex align-items-center">
     <div class="container px-4 px-lg-5 text-center text-white" >
         <h1 class="mn-1" id="home-brand">Welcome</h1>
         <h2 class="mb-1" id="home-intro">Our Mission in green Energy</h2>
         <h5 class="mb-5" id="home-mission">Green Clean energy and great amazing skills and team</h5>
         <a id="icons" class="btn button text-white btn-xl bg-black" href="">Find Out More</a>
     </div>
     </div>
 <div class="mask text-white">
   <div class="container d-flex align-items-center text-center h-100">
   </div>
 </div>
</div>
</section>
<br>
<!-- section2 -->
<section class="content-section text-white text-center bgc">
  <div class="container px-4 px-lg-5">
      <div class="content-section-heading">
          <h2 class="mb-5"></h2>
      </div>
      <div class="row gx-4 gx-lg-5">
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0" id="icons">
              <span class="service-icon rounded-circle mx-auto mb-3"><i class="fa-solid fa-location-dot"></i></span>
              <h4><strong>Location</strong></h4>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0" id="icons">
              <span class="service-icon rounded-circle mx-auto mb-3"><i class="fa-solid fa-user"></i></span>
              <h4><strong>User</strong></h4>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-md-0" id="icons">
              <span class="service-icon rounded-circle mx-auto mb-3"><i class="fa-solid fa-money-bill"></i></span>
              <h4><strong>Savings</strong></h4>
          </div>
          <div class="col-lg-3 col-md-6" id="icons">
              <span class="service-icon rounded-circle mx-auto mb-3"><i class="fa-solid fa-gas-pump"></i></span>
              <h4><strong>Gasoline</strong></h4>
          </div>
      </div>
  </div>
</section>
<br><br>
 <!-- section3 -->
<section class="content-section bg-light section1" id="">
  <div class="container px-4 px-lg-5 text-center">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="techs col-lg-10">
              <h1>FullTank</h1>
              <p class="lead mb-5">
                The mission of FoolTank is to offer commuters in California competitive gas prices while reviewing and creating their favorite list from their favorite Gas Stations in California.
                We want to provide the most helpful information possible about local Gas Stations in CA. Creating ways to guide spending decisions.</p>
          </div>
      </div>
  </div>
</section>
<br>
<!-- section4 -->
<section class="content-section section1">
  <div class="container px-4 px-lg-5">
      <div class="techs content-section-heading text-center">
          <h2 class="mb-5">Reviews??</h2>
      </div>
  </div>
</section>


<footer class="footer text-center">
  <div class="container px-4 px-lg-5">
      <ul class="list-inline mb-5">
          <li class="list-inline-item">
              <a class="social-link rounded-circle text-white mr-3" href=""><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
              <a class="social-link rounded-circle text-white mr-3"  href="#!"><i class="icon-social-facebook"></i></a>
          </li>
          <li class="list-inline-item">
              <a class="social-link rounded-circle text-white" href=""><i class="fa-brands fa-instagram"></i></a>
          </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; FullTank</p>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous"></script>
</body>
</html>

