{% extends 'base.html' %} {% block content %}

<section class="content-section text-center">
  <div class="container px-4 px-lg-5">
    <h1>background img</h1>
  </div>
</section >
<section class="content-section text-center">
  <div class="container px-4 px-lg-5">
    <h1>Where the Icons will be</h1>
  </div>
</section>

<section class="content-section text-center">
  <div class="container px-4 px-lg-5">
    <h2>Our Mission</h2>
  </div>
</section>

<section class="content-section text-center">
  <div class="container px-4 px-lg-5">
    <h2>Reviews??</h2>
  </div>
</section>

{% endblock content %}
